  <body>

  	<h1>The Hotest Custom Games in Dota 2 Today</h1>
  	
   <article class="ui center tall stacked aligned segment">
      <p>
      Custom games. A new addition to dota 2 which is filled with plenty of fun games to play. If you have 
      your own idea for a possibly fun game, it's easy to make and then put out there of all to play. Up until 
      recently custom games have been made by having to mod the game but now there's not modding required and it's
      all supported by the game client.   
      </p>
    </article>

      <h2> Top custom games</h2>
      <article class="ui raised segment">
     <h3>Pudge wars</h3>
      <p>
     Hailing from the days of DotA 1, Pudge Wars is seen as a classic—and deservedly so. Five Pudges spawn either side of an uncrossable river, each armed with a jazzed up version of Pudge’s meat hook from the main game. First team to either 50, 100 or 150 kills wins, depending on what’s voted for at the start.
     If that sounds overly simple, don’t worry: the hook can be upgraded in different ways as you level up, and there are a dozen or so items that can change your playstyle. I’m a fan of going for Barathrum's lantern, which increases hook damage based on its speed, and focussing on picking off low enemy Pudges from across the divide. That, or picking up Techies’ explosive barrel and exploding anyone foolish enough to hook me within range.
     Managing to hook someone who’s already being hooked results in an instakill and the Quake announcer man bellowing HEADSHOT, though without a friend to coordinate with that tends to happen based on luck more often than skill
    </p>
    </article>

    <article class="ui raised segment">
     <h3>Overthrow</h3>
      <p>
        We’ll kick off with one of Valve’s own offerings. In the early days of Reborn, Overthrow served as the flagship for custom games. To a large extent it still does, with regular updates helping it to hold its place at the top of the most popular modes. It’s essentially Teamfighting: The Game, with players split over multiple teams competing to reach a certain number of kills first. The action is focussed around a central throne, which gives extra experience to anyone near it and occasionally spews out bonus gold. All of the heroes and items are unaltered from normal Dota (aside from the occasional balance tweak), making Overthrow a great gateway into the world of custom games. As with most of the modes on this list, though, you’ll want to jump in with friends: playing with someone who feeds away ten kills then disconnects is just as gutting as it is in the main game. Alternatively, play Overthrow like I do and it becomes Kill Stealing: The Game. Pick a hero with a nuke at the start and sneak around the map, letting other teams do the hard work before sniping anyone whose health gets low enough. It’s all the fun of stealing from actual teammates without having to put up with the (usually justified) grumbling.
      </p>
      </article>

      <article class="ui raised segment">
      <h3>Collosseum</h3>
       <p>
        Colosseum is Valve’s second custom game, again featuring all the same heroes and items from Dota proper. It’s a 5v5 capture point mode, played in one of three arenas littered with traps of varying lethality. Holding the majority of the points makes your team’s victory counter tick up: the more points you hold, the faster it goes.
        The traps make the game, allowing a disadvantaged team to turn the tides on careless attackers. If you think juking around trees in normal dota is fun, wait until you try it with spike pits instead. You can expect to see Dark Seer grabbed in the first few seconds of picking: a well timed vacuum can pack five heroes into the path of a swinging saw, turning the spell into a one click rampage button. The best kind of button. 
       </p>
       </article>
      </div> 
     </div>
  </body>



