
  <body>
  
  	<h1>Fan Art</h1>
  	

   <article class="ui center tall stacked aligned segment">
   <p>
    Even if you're not got at the game itself the Dota 2 community have a lot of very skilled drawers, animators and scluptors
    out there. There are tons of amazing pieces of work out there for those 
    who are intrested in looking, just Google it and I'm sure you should be impressed, 
    but here are some of my favourites. hope you enjoy them as much as I do.
    </p>    
   </article>

   <setion class="ui three column stackable grid">
 
      <div class="row">
        <div class="ui column card">
          <div class="image">
            <img src="/assets/images/fanartjug.jpg" />
          </div>
          <div class="content">
            <div class="header">
              Title: Beckoning Jug
            </div>
            <div class="discription">
              Author: elUZINATORRRR
            </div>
          </div>
        </div>

       <div class="ui column card">
        <div class="image">
          <img src="/assets/images/fanartrune.jpg" />
        </div>
        <div class="content">
          <div class="header">
            Title: Dota Bounty Rune Wallpaper
          </div>
          <div class="discription">
            Author:sylgiro
          </div>
        </div>
      </div>

     <div class="ui column card">
      <div class="image">
        <img src="/assets/images/jugg15.jpg" />
      </div>
      <div class="content">
        <div class="header">
          Title: Unknown
        </div>
        <div class="discription">
          Author: Crow god
        </div>
      </div>
    </div>
    </div>

      <div class="row">
        <div class="ui column card">
          <div class="image">
            <img src="/assets/images/axe.jpg" />
          </div>
          <div class="content">
            <div class="header">
              Title: Beckoning Axe 
            </div>
            <div class="discription">
              Author: Drawing guy
            </div>
          </div>
        </div>

       <div class="ui column card">
        <div class="image">
          <img src="/assets/images/lina.jpg" />
        </div>
        <div class="content">
          <div class="header">
            Title: Dota Lina 
          </div>
          <div class="discription">
            Author:Paint girl
          </div>
        </div>
      </div>

     <div class="ui column card">
      <div class="image">
        <img src="/assets/images/storm.jpg" />
      </div>
      <div class="content">
        <div class="header">
          Title: Storm warning
        </div>
        <div class="discription">
          Author: Drawing god
        </div>
      </div>
    </div>
    </div>
   </section>  
  </body>