<body>
	<h1>a More Detailed History</h1>

	 <div>
	  <img class="ui center aligned medium image container" src="/assets/images/76.jpg"> 
	 </div>
     <article class="ui raised segment">
 	 
 	    <h2>HUMBLE BEGINNINGS</h2>
 	   <p>
 	  	In 1998, Blizzard Entertainment released what would come to be the top selling PC game of all time, Starcraft. Included with this game were a host of map editing and creation tools called StarEdit. StarEdit was truly a fantastically fun piece of software. Unlike other RTS games of the time that came with map creators, StarEdit contained a deep and complicated piece of scripting that it called Triggers. This, combined with the then-unknown amount of customization of units allowed in the engine meant that it was a playground for anyone that wanted their hand at making a fun UMS (Use Map Settings) map, without having to learn the ins and outs of things like the Doom or the Quake engines. Later that year, with the release of Brood War, the editor became even more powerful, and people learned how to unlock StarEdit's potential. This creativity and freedom lead to a number of incredible maps, which used such odd engine behaviors as unit stacking in fog, or creating unit-location triggers, which weren't available by default. One of the maps of this era, and our first stop in the history of Dota, is Aeon of Strife.  Aeon was a fantastically odd map for Starcraft vets: you controlled only one powerful unit hero, fighting amidst ai-controlled enemies in three lanes. Sound familiar? Aeon of Strife focused much more on towers than modern Dota ever has, with very little terrain outside of the lanes. It also (at first) boasted a roster of only 8 hero units, without any particular special abilities. You spent gold on armor or weapon upgrades. Later versions, however, added some Skills which could be triggered by dropping the appropriate 'activator' unit from a dropship in a secluded corner of the map. Still, you bought the ability units with gold, and there was no real concept of levels beyond how many weapon and armor upgrade you had bought.
	 </p>
	 </article>

	 <article class="ui raised segment">
 	 
		<h2>THE ANCIENTS ARISE: WARCRAFT III</h2>
		<p>
		In 2003, the game changed. Literally. Blizzard released Warcraft III, along with its editing tools, and modders went crazy. It's hard to describe this period of time, though I know many of you reading went through it with me. Towards the tail end of SC:BW, UMS maps had become prolific and fun, with games like Lurker Defense and Zone Control. Warcraft III's editor allowed map creators to take it to the next level, and the scene exploded. Other WC3 map types such as tower defense spawned genres of their own, and in the midst of this, a modder by the name of Eul began work trying to convert Aeon of Strife into the new engine. This map was called Defense of the Ancients, or DotA.Now instead of 6 players and 2 AIs per map, Eul could have 5 players and an AI on each team. The built in Hero and Skill support allowed each character more depth and interesting progression than Starcraft maps could ever hope to contain. That being said, the early DotA maps were... shall we say Alpha versions? You can check out some of them at dotautilities, but be aware that many probably don't work with the newest WC3 patch, and they are extremely rough in places.
  	 </p>
   	 </article>

	  <article class="ui raised segment">
 	  

		<h2>A SMALL SCHISM</h2>
		<p>
		After a time, Eul left the DotA development scene for a time. Tons of other modders stepped in, creating dozens of various DotA versions, containing characters from various television shows, video games, and personal creations. There was no clear successor to Eul's DotA, and for a good amount of time you ended up downloading a new map with every new game you joined.
	 </p>
	 </article>

	 <article class="ui raised segment">
 	
		<h2>ROSTER CHANGES: GUINSOO AND PENDRAGON</h2>
		<p>
		At some point in 2004-2005, a modder named Guinsoo came to the scene and created his own version of DotA, very closely using the map from Eul's, but taking the most interesting heroes from various other versions. He called this "DotA: Allstars," and marks the start of what we think of today as DotA. For one, Guinsoo added a new mechanic that would come to define DotA's items: recipes. Built off of TP scrolls, they didn't do anything on their own, but would be consumed to create a new item if the proper components were in your inventory. Even more clever, Guinsoo soon figured out how to create recipes that could auto complete. These new recipes cost 1 Wood resource, which was impossible to obtain. However, getting the proper ingredients would make the item instantly appear in your inventory (when in range of a shop at first, though later changed to work anywhere). Also around this time, as Allstars was gaining popularity, an enthusiastic player by the name of Pendragon created a set of forums which would define the dota community for almost 5 years. The Dota-Allstars forum became the main medium of communication between Guinsoo and the community, and contained everything from in-depth mechanics guides to player-created hero and item suggestions, and the organizations of the first real DotA tournaments.
	 </p>
	 </article>

	 <article class="ui raised segment">
 	 
		<h2>THE CREATOR DIVINE: ICEFROG</h2>
		<p>
		Guinsoo maintained the DotA: Allstars map for over two years, before handing it off to a modder you may have heard of: Icefrog! It's hard to describe what DotA was like during this transitional period. Icefrog is some sort of DotA savant. He put the game through such drastic changes that many thought the community would just shatter. It didn't however, and with each new iteration, from Pudge to Buybacks to Ward Vision to Channeling changes, the game's community grew by leaps and bounds. Icefrog also began to try to perfect the map, creating many strange alterations that helped to make the map much more interesting to play than previously. These, combined with his carefully thought out balance tweaks, created a thriving competitive community. Numbers of users on the Dota-Allstars forum were thought to peak at over a million, with Icefrog claiming at one time that a newly released DotA map could reach over 4 million downloads from individual IPs.
	 </p>
	 </article>

	 <article class="ui raised segment">
 	 
		<h2>THE CORPORATE SCHISM: DOTA'S FUTURE</h2>
		<p>
		By late 2008, a few companies had started to realize the potential DotA had as a fully realized commercial game. A few of these games were spectacular failures (Demigod immediately comes to mind, as does Rise of Immortals), while one started to gain a bit of a following: Riot's League of Legends. Both Guinsoo and Pendragon joined Riot Games in 2009. This pushed a lot of the previous DotA community towards at least trying League, though many were turned off by its payment model and persistent Runes. Dividing the community even more was Pendragon's closure of the Dota-Allstars forum, which he replaced with a large advert for Riot's new creation. This infuriated people, as until 2012 he released no archives of the forum, leaving many key mechanics explanations, ideas (which some claim were turned into league heroes) and guides lost in cyberspace. However, Icefrog persevered with his updates to the DotA map, as well as working for a time with company S2 Games to help them create what was originally supposed to be a new DotA standalone: Heroes of Newerth. At first this seemed to go well, but due to reasons currently unknown, he parted ways with the company and moved over to working with Valve, though we didn't know this at the time. The first signs that he had left were the announcements that no more DotA heroes would make their way into Heroes of Newerth, which at that time held about 40 or so direct ports. This too turned people off from that game, and DotA remained the only "real" way to play in 2010.
	 </p>
	 </article>

	 <article class="ui raised segment">
 	 
		<h2>A VICTOR ARISES: VALVE TAKES THE STAGE</h2>
		<p>
		However, in September of that same year, something magical happened. Valve Software announced their new in-house created game: Dota 2. Not only had it kept the DotA name (despite legal arguments), but it promised to keep the exact DotA experience in tact in a modern engine. This is what people had hoped for when League and HoN were created, and fans were desperate to get in. Valve is a fickle mistress however, and there was no news about Dota 2 until 2011, when Valve surprised the world by announcing The International, a one million dollar tournament that would reveal Dota 2 to the public. It was a bold move, but it paid off. The gaming media's eyes were all on Germany as the tournament gave us the first look at Dota's possible successor.We were pleased. Despite its then limited roster of only 46 heroes at that time as well as it's very early UI, the event was a huge success. People were thrilled, and everyone wanted to get their hands on what looked like a nearly completed game. However Valve wasn't quite ready to hand it to the world, and it wasn't until the end of September that the first invites were handed out at random, instead of to hand pick professional players. I was lucky enough to get into this first round of invites, and let me tell you: I am personally amazed that the first International went as well as it did. The game was rough, and it was immediately apparent that there was a lot of work to be done. The screens here are from the first month or so of the Beta. Yeah, it was rough. But it was Dota, and it was fun. The farther past this point you go the more people know already. Within a year the beta began to open up more as they handed out invites, and gave friend invites to those in the beta. Eventually, nearly 3 years after the announcement of the game, it's officially released!
 	  </p> 
 	  </article>
 </body>