<body>
 <h1>Items</h1>
  <div>
   <img class="ui center aligned medium image container" src="/assets/images/items.png">

  <article class="ui raised segment">

    <h2>What are Items?</h2>
    <p>
   Items are in-game equipment that provide heroes with bonus attributes and special abilities. They can be purchased from several shops on the game map. Lower tier items are combined into higher tier items, usually with the help of a recipe. Heroes have six item slots in their inventory, and six more in their stash. Items can be picked up and delivered to their owner with a courier.
   </p>
  </article>

  <article class="ui raised segment">

   <h2>Where Do I Buy This Item?</h2>
 <p>
	One unfortunate consequence of playing Dota 2 is that you have to learn where to purchase items. The first barrier to this is finding the items in the shop interface.
	The shop in Dota 2 is organized by category such as damage items, defensive items, or support items. These categories are all on a different tab. My first recommendation is to change the shop to the grid view instead of the line view. In the upper left corner of the shop (click on the shop button to open the shop) you can switch between each view. This will help you see all of the items at the same time.
	In Dota 2, there are two kinds of items. There are basic components, which are the items that can be bought directly from the shop.  From these basic items you can make upgraded items, which take a predefined mix of basic items to create an item that has more power than its components combined. You can view these completed items in the Upgrades tab of the shop.
	The Basics tab has 4 columns as follows:Consumable items such as regen, Tp scrolls, Couriers, and Observer Wards/Sentry Wards.
	All of the basic and medium level stat items. That includes all of the +3 stat, +6 stat, +10 stat, and the +1 to all, and +2 to all stat stat items.
	Armor, Damage, Damage prevention and attack modifying items.
	Regen items, simple components, Boots of Speed and random standalone items.
	All of the items that you can see in the shop here in the Basics section can be purchased in the team's base shop.  However, there are a few items not located there. The other shop is called the Secret Shop. There are two secret shops on the map, one for each team. The secret shop sells the most powerful of every item type such as +25 to stat items, +60 damage Sacred Relic, and the Hyperstone, which gives +55 AS.The last shop in the game is called the Side Shop. The purpose of the side shop is to provide most of the items that heroes will purchase in the early game. These shops are there so that your hero spends less time running back and forth to base or using the team's courier.You will see a mixture of regular shop items, and a few secret shop items that are common in the early game.The most important item in the side shop that isn't here is the Ring of Protection, and as such is the only item you have to really plan ahead for in the early game. The Ring of protection is required for you to build a Ring of Basilius or Tranquil Boots, so you will have to ferry it out in the early game using a courier or headed back to base.
  </p>
  </article>
</body>