
 <body>
  
   <h1>So you wanna learn how to play Dota 2?</h1>

    <article class="ui center tall stacked aligned segment">
      <p>
      The first thing you're gonna need to know about Dota 2 is that it's a difficult game to master.It is a match of chess and 
      football. It takes time to learn all the stratagies that will take you to victory but at the same time you need the fast reactions 
      and quick thinking to be able to inplment those stratagies and make decisions in and instnse enviournment 
      </p>
    </article>

    <div>
     <img src="/assets/images/noobs.jpg">
     </div>

 <div>
  <article class="ui raised segment">
    <h2> A basic tutorial </h2>
       <p>
     Dota 2 is a very complecated game with tons of differnect aspects to learn. The best guide that will tell you everything you need to know it's  
     <a href="https://purgegamers.true.io/g/dota-2-guide/">Purge's "welcome to Dota 2 you suck"</a> guide. It has everything you need to learn, here we'll 
     go over some of the basics. Keep in mind dota 2 is a massive game, and quite difficult so don't get turned away if you're not as good as the pros 
     wuthin your first week of playing, it takes time to master the art of Dota 2.
       </p>
    </article>
  <div>
   <article class="ui raised segment">
      <h3>The Basics</h3> 
       <p>
     As mentioned earlier, there are multiple things, that added together, help you win the game. These things are: Farming creeps, denying creeps, destroying enemy towers and killing enemy heroes.
       </p>
    </article>

    <article class="ui raised segment">
    <h3>Farming and Denying Creeps</h3>
        <p>
      Farming creeps in DotA is most important during the laning phase. Farming them is the act of getting the final blow on an enemy creep, resulting in more gold for you to spend. One thing that should always be avoided is pushing a lane. Basically, do not sit there auto-attacking an enemy creep! Most of the time if will only be denied, and then your lane is pushed to the enemy tower, making you very susceptible to a gank from a member of the enemy team. Later in the game, having good farm will pay off in a gold advantage. A gold advantage is an item advantage, and an item advantage almost always wins the game.
      While in lane, you should be trying to last-hit your enemies creeps for their gold, yes, however you should also keep an eye out for allied creeps that are low on HP and attack them. This is denying, and can also be done to a tower. It keeps an enemies gold down, which is enough to win a lane. It is just as important as farming the enemy minions. It does take practice, but with enough concentration you can pull it off.
      During this time you should also be weary of harassing. It is simply the enemy landing a few hits on you to dwindle you HP down and try to make you leave lane. Try to harass in return or avoid oncoming harass. Primary focus is still farming and denying. 
        </p>
        </article>

    <article class="ui raised segment">
      <h3>Destoying the Enemy Tower</h3>
        <p>  
      Destroying the enemy tower will usually be the cause of winning you lane. If the enemies in your lane are both dead or missing, then now it is the time to push and finish off the tower. If the enemies are simply missing, be courteous to your team and call MIA (Missing In Action), as well keep the river warded so if they are missing while you push their tower you can avoid them ganking you.
        </p>
      </article>

      <article class="ui raised segment">
      <h3>Killing Enemy Heroes</h3>
        <p>
      Killing heroes in not your primary goal early game. As stated before, your goal is farming. Farming is a safer and more sure way to gain gold, without leaving it to a 50/50 chance that you kill the enemy or they kill you. Note that in   DotA, while you gain gold for a kill, the enemy you killed loses gold also. It also applies to you, of course.
      However, while farming you can harass the enemy, and if they get low on health, you can coordinate with an ally to take them down or burst them down yourself if you are confident enough. Mid to late game, however, ganks become more prevalent and team-fights start to occur. Around this time, you should still be cautious of your lanes and farm whenever the team is idle, but getting kills really will bring the enemy team down and rise yours up. The team will ever gradually be more revolved around the jungle and middle lane. Winning these team-fights is a direct result of winning lanes and the farm your team has accumulated.  
        </p>
        </article>
    </div>
   </div>
  </body>
