
  <body>
  	<h1>What's new in the Dota 2 pro scene</h1>
    <article class="ui center tall stacked aligned segment">
      <p>
      For those new to Dota 2, Dota has one of the largest E-sports followings in the world right now 
      and is watched by millions all over the world. The main competition known as the international 
      had a prize pool of 20 Million Dollars and was wached by millions live all over the world.
      </p>
    </article>

   <div>
    <img src="/assets/images/proscene.jpg">
   </div> 

   <article class="ui raised segment">
   <div>
     <h2> The Pros </h2>
      <p>
        Dota 2 is played competitively around the world. Professional teams attend tournaments sponsored by companies, organizations, and Valve itself. Players who have purchased access to tournaments may view matches and voice commentary with DotaTV, a spectating feature built into the Dota 2 client. Live match streaming is also available on various community websites.
        The history of competitive Dota began in 2004, and has since continued to evolve, with new players and strategies emerging onto the scene. As of The International 2015, professional Dota 2 is the highest paying e-sport in the world.
      </p> 
      </article>

      <article class="ui raised segment">
     <h3> The international </h3>
      <p>
        The International (TI) is an annual sixteen team Dota 2 eSports tournament hosted by Valve Corporation, the game's developer. The first tournament took place in Cologne, Germany at Gamescom in 2011 and was held shortly after the public reveal of Dota 2, with a total prize pot of $1.6 million. The second International took place in 2012 at the Benaroya Hall in Seattle, and retained the same $1.6 million prize structure. For the third International in 2013, again at Benaroya Hall, Valve introduced an interactive, digital "compendium" which fans could purchase to follow the event and contribute to the prize pool; which reached a $2.8 million prize pool with $1.2 million added from compendium purchases. The fourth International, this time held at the larger Seattle venue KeyArena in 2014, continued the practice of compendium sales and ultimately broke records for having one of the largest prize pool in eSports history, with a total of $10.9 million. The fifth International took place in 2015, with the prize pool totaling over $18 million, making it the largest eSports prize pool for a single tournament until being surpassed by the sixth International the following year, with a prize pool of over $20 million.
      </p> 
      </article>

      <article class="ui raised segment">
      <h3> This Years Winners </h3>
       <p> 
       This years international was won by the Chinese team Wings Gameing. Who beat Digital Chaos 3 Games to 1. Congratulations 
       <img src="/assets/images/wings.jpg"> 
       </p> 
       </article>
      </div>
    </body> 
