 <body>
    
  	<h1>What's new in Dota 2</h1>
  	
   <article class="ui center tall stacked aligned segment">
    <p>
     Despite being out since early 2013 Dota continues to be updated to this day,
     with new heroes, balance features, map fixes and many other things. This makes Dota 2 
     a constantly evolving game and something all players, new and old, should keep an eye on.
     major updates come around every month or so. 
     </p>
    </article>

    <div>
     <img class="ui center aligned large image container" src="/assets/images/update.jpg">
    </div>  

    <article class="ui center tall raised aligned segment">
     <h2> 6.86 </h2>
      <p>
       Version 6.86 of Dota 2 (dubbed “The Balance of Power”) changes a number of things about the game, and many of them already feel like they’re turning the game upside down. The map is different, there’s a new hero, and several others have undergone major changes to their abilities and traits. This patch is perhaps the most Dota 2 has changed all year, and it was a long time coming, after the majors system stifled how expansive the last patch could be. Why is this patch so crazy? Here are the biggest, craziest reasons. For the full patch notes <a href="https://www.dota2.com/balanceofpower"> here</a> 
       </p>
       </article>
      
       <article class="ui raised segment">

        <h3> The 5 biggest changes </h3>
        
        <h4>5. Arc Warden </h4>
          <p>
            It’s telling that a brand new character (only the second this year) is not the most impactful part of a big Dota 2 update. It’s not that the character is boring, but that this patch is so massive. Like most new characters introduced into competitive games, Arc Warden feels insanely powerful. Maybe it’s because we don’t quite understand the character’s deficiencies and only see new possibilities, but every part of the character’s toolkit feels endlessly exploitable. Right now, you could probably spend your early skill points in any one of his three basic abilities and come out of on top in a given match.
            For example: the last time a character had an ability that slowed an opponent for five seconds at level one, the duration got cut in half in the following patch. To say nothing of his ultimate ability, Tempest Double, which creates a copy of the hero, allowing him to use all of his items and abilities a second time. He thankfully hasn’t made it to the competitive scene, because I expect to see a lot of downscaling on his abilities before he makes it into a professional match. But Valve got the most important part right: he’s fun to play, and hopefully won’t lose his essence the next time a patch rolls around.
          </p>
          </article>
          <article class="ui raised  segment">
         <h4>4. Hero reworks </h4> 
          <p>
            Along with a new hero, several older heroes had abilities changed, removed, added and reworked in 6.86. Six heroes were removed from Captain’s Mode (the competitive mode all tournaments use), the highest I’ve ever seen since I started playing back in late 2012. The reworks run a gamut of motives: Lone Druid didn’t see much competitive play, so it’s likely his rework wanted to make the hero viable again. Doom, on the other hand, saw a quite a bit of professional play, but still got his most boring and least practical skill, Level ? Doom, changed to the far more consistent Infernal Blade.
            Most notably, Riki got his abilities switched around and reworked for the second time in 18 months. I’m still not sure if his new toolkit is better or worse than his last one, but I get the feeling Valve isn’t quite sure what to do with him. He’s a boom-or-bust hero, and didn’t see a lot of competitive play, but is still a terror in lower-skill games. A good competitive game balances for both crowds, and getting it right will take a while.
            Still, most of these reworks keep the spirit of their characters intact, and I like seeing a move away from some of the basic number-tweaking we saw in the last couple of patches. These kinds of overhauls are exactly what the game needs for new strategies to emerge, and for competitive casual games alike to stay fresh.
          </p>
          </article>
          <article class="ui raised  segment">
          <h4>3. New items</h4>
           <p>
             Back in April, Valve released the 6.84 update, which added nine new items to the game—the first additions in a long, long time. Several characters became more prominent as a result of an item that finally suited their needs (Leshrac specifically seemed to find his footing after the introduction of the Octarine Core, for example). The new items felt like a sea change for Dota 2, indicating that Valve is willing to muck around with some of the more rigid aspects of the game, like ability cooldowns and item slots—something competing game League of Legends has made a core aspect of its design.
             The new 6.86 items change other core aspects of heroes who equip them: the Dragon Lance increases the attack range of heroes who attack from afar, and the Aether Lens not only increases the amount of damage a hero’s spells do, but also lets them cast these spells from farther away. The latter change feels like the more significant one, since it could disrupt the “feel” of heroes who rely on landing certain power abilities with precision. Pudge, for example, relies on strict positioning and timing to land his Flesh Hook, and dedicated players have gotten a feel for when and where to throw them out. A change to the cast range could mettle with this feel by changing up when and where the optimal Flesh Hook should happen. These changes will probably also lead to some incredible feats in high-level play, though, so I’m all for them.
           </p>
           </article>
           <article class="ui raised  segment">
           <h4>2. Map changes</h4>
            <p>
            Bear with me as I try to best explain why having monsters spawn in two new areas changes one of the roles in Dota 2 completely. See, every hero in Dota 2 has a role they work best in. A good “offlane” hero can stand in a lane all by themselves with relatively little help, and they don’t need to kill creeps (the little guys who run at each other in the middle of the lane) to get gold as much as other kinds of heroes. All they have to do to be useful later on is stand around and gain experience from watching enemy creeps die near them. These heroes work in the offlane because it’s the hardest lane for a side to contest, so being an offlane hero isn’t about “winning” the lane by getting more creep and hero kills as much as it is not losing it too harshly by avoiding death.
            Adding a neutral creep camp (where stronger creeps stand around waiting to die at the hands of heroes) to both offlanes completely changes the dynamic of the offlane. If an offlane hero is losing too much health (or dying) just by staying near the creeps, he can instead go kill the neutral creeps, or “stack” the camp and spawn more creeps there using a strange method I won’t get into here. This gives the offlane more to do, increases the amount of gold they can get, makes having two heroes in the offlane at once more viable, and will likely change which heroes we see become popular offlaners. As someone who prefers offlaning to most other roles, I can’t wait to test out. 
            </p>
            </article>
            <article class="ui raised segment">
            <h4> 1. Earth spirit in captain's mode</h4>
             <p>
               It’s been a long time coming. Earth Spirit was introduced to Dota 2 back in mid-2013, but wasn’t available to play in Captain’s Mode. This meant he wasn’t available in professional matches, where the best players in the world show off every hero’s potential. As other heroes got added to the game and entered Captain’s Mode before Earth Spirit did, it became clear something wasn’t right. The hero was far too good, having his abilities switched around or weakened almost every patch. For many professional players, this was a good thing; Earth Spirit would break the game should he ever enter Captain’s Mode, they said, and it’d be better to remove the hero from the game entirely. Now we get to find out if they were right. After some more tweaking to his skills, Earth Spirit has entered Captain’s Mode. So far, he’s been picked or banned in most professional games using the 6.86 patch, which means pros think highly enough of him to try to snatch up him first, or get rid of him entirely. But 6.86 is only a few days old, so it’ll be a while before we see how it all shakes out. And after several months of sub-par patches and a stale competitive scene, it’s nice to feel this uncertain about the future of Dota 2.
             </p>
             </article>
             </div>
             
            </body>