<body>
 <h1>User Reviews</h1>

   <setion class="ui three column stackable grid">

         <div class="row">
        <div class="ui column card">
          <div class="content">
            <div class="header">
              User: Jericonic 
            </div>
            <div class="discription">
            <p>
              Download this game to lose your:
			Soul, Time, Money,Faith in Humanity, Sanity, Tolerance for other countries, Friends<br>
			But Gain:Leadership skills ( not really since nobody listens to you but whatever ), Hours of fun, A dictionary of new insults
           </p>
            </div>
          </div>
        </div>

           <div class="ui column card">
          <div class="content">
            <div class="header">
              User: DAVEGGNOOB 
            </div>
            <div class="discription">
            <p>
             Its a complex but still great and addictive game.
             </p>
            </div>
          </div>
        </div>

            <div class="ui column card">
          <div class="content">
            <div class="header">
              User: Cyber Huntress
            </div>
            <div class="discription">
            <p>
              This game is my nomination for "Test of Time" but it doesn't mean it's just as good as long time ago because some patch remove balance from the game, but it doesn’t matter… i’ll always come back to play this one.
            </p>
            </div>
          </div>
        </div>
       </div>


         <div class="row">
        <div class="ui column card">
          <div class="content">
            <div class="header">
              User: Safe
            </div>
            <div class="discription">
              <p>
              Don't do dota kids
              </p>
            </div>
          </div>
        </div>

           <div class="ui column card">
          <div class="content">
            <div class="header">
              User: Bruce the Pug  
            </div>
            <div class="discription">
            <p>
            Great game. 5k+ Hours. Hard to learn. Impossible to truly master. So many possibilities and variables. Teamwork crucial. Time consuming (games can be 40-70 mins long). Watch is great too. Personally Am trying my best to play a lot less because of life responsibilities. Suggest watching rather than playing if you are time poor. Some players can be toxic (ie. Rude or angry). Suggest muting them for an enjoyable experience
            </p>
            </div>
          </div>
        </div>

            <div class="ui column card">
          <div class="content">
            <div class="header">
              User: Admiral SnoopDogg
            </div>
            <div class="discription">
            <p>
             Just don't. Stay healthy.
             </p>
            </div>
          </div>
        </div>        
       </div>
</body>