<body>
	<h1>Valve the makes of Dota 2</h1>
    	
	 <div class="ui large image">
	 	<img src="/assets/images/valve-logo1.jpg">
	 </div>

	  <p class="ui raised segment">
	  	Valve Corporation (commonly referred to as Valve) is an American video game developer and digital distribution company headquartered in Bellevue, Washington. The company is known for the Half-Life, Counter-Strike, Portal, Day of Defeat, Team Fortress, Left 4 Dead and Dota 2 series, and its software distribution platform Steam.
		Valve was founded in 1996 as a limited liability company by former Microsoft employees Gabe Newell and Mike Harrington. Their debut product, the PC first-person shooter Half-Life, was released in 1998 to critical acclaim and commercial success, after which Harrington left the company. In 2004, Valve launched Steam alongside Half-Life 2; as of 2011, Steam controlled over half of the downloaded PC game market, and according to Newell Valve was the most profitable company per employee in the United States. In 2015, Valve entered the game hardware market with the Steam Machine, a line of prebuilt gaming computers running SteamOS.
	  </p>

	  <p class="ui raised segment">
	  	Valve was founded by former longtime Microsoft employees Gabe Newell and Mike Harrington on August 24, 1996, as Valve L.L.C., based in Kirkland, Washington on the Seattle Eastside. Harrington left the company in 2000. After incorporation in April 2003, it moved from its original location to Bellevue, Washington, the same city in which their original publisher, Sierra On-Line, Inc., was based. In 2010, the office was moved again to a larger location in Bellevue.In 2016, Valve signed a nine-floor lease in the Lincoln Square complex in downtown Bellevue, doubling the size of their offices
	  </p>
</body>