<body> 
  <h1>Workshop</h1>
  <article class="ui two column center aligned grid segment">
 <div class="ui column">
  <h2 class="ui header">Fei Lian, Lord of the wind </h2>
  <h3 class="ui header">Courier</h3>
  <h1>
   <a href="http://steamcommunity.com/sharedfiles/filedetails/?id=377647527&childid=377638141"><i class="steam icon"></i> </a>
   </h1>
 </div>
 <div class="ui column">
   <p>
    <img class="ui small image" src="/assets/images/fei.jpg">
   </p>
  </div>
</article> 

  <article class="ui two column center aligned grid segment">
 <div class="ui column">
  <h2 class="ui header">Abyss Tyrant </h2>
  <h3 class="ui header">Set</h3>
  <h1>
   <a href="http://steamcommunity.com/sharedfiles/filedetails/?id=806620720&searchtext="><i class="steam icon"></i> </a>
  </h1>
 </div>
 <div class="ui column">
   <p>
    <img class="ui medium image" src="/assets/images/underlord.jpg">
   </p>
  </div>
</article>

  <article class="ui two column center aligned grid segment">
 <div class="ui column">
  <h2 class="ui header">Vanishing Flame </h2>
  <h3 class="ui header">Loading Screen</h3>
  <h1>
   <a href="http://steamcommunity.com/sharedfiles/filedetails/?id=614072065&searchtext="><i class="steam icon"></i> </a>
   </h1>
 </div>
 <div class="ui column">
   <p>
    <img class="ui medium image" src="/assets/images/ember.jpg">
   </p>
  </div>
</article>