<footer id="footer" class="ui center tall stacked aligned segment">
 <h3>Social Media links</h3>
  <p>
    <a href="https://www.facebook.com/dota2/"><i class="facebook icon"></i> </a>
    <a href="https://twitter.com/dota2updates"><i class="twitter icon"></i> </a> 
    <a href="https://www.reddit.com/r/DotA2/"><i class="reddit alien icon"></i> </a> 
  </p>
  <p>
  <%= title %>
  <br>
  Created by: <%= name %>
  </p>
</footer>