<header class="ui two column center aligned grid segment">
 <div class="ui column">
  <h1 class="ui header">The Home of Dota </h1>
  <h2 class="ui header">Everything you need in one place!</h2>
 </div>
 <div class="ui column">
   <p>
    <img class="ui rounded medium image" src="/assets/images/dota-2-banner-.jpg">
   </p>
  </div>
</header>